<div class="tabs tabs-text-only has-header">
  <a class="tab-item active">Рубрики</a>
  <a class="tab-item">Организации</a>
  <a class="tab-item has-badge">
    Адреса
    <span class="badge">1</span>
  </a>
</div>
<ion-view>
  <ion-content class="has-header">
    <div class="list">
      <a class="item">
        Ленина проспект 45
        <span class="item-desc">Адрес</span>
      </a>
      <a class="item">
        Вектор, ООО
        <span class="item-desc">Адрес</span>
      </a>
      <a class="item">
        Рога и Копыта, ООО
        <span class="item-desc">Адрес</span>
      </a>
      <a class="item">
        Одиннадцатиклассница Одиннадцатиклассница Одиннадцатиклассница
        <span class="item-desc">Адрес</span>
      </a>
    </div>
  </ion-content>
</ion-view>


