<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Выберите город</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Отмена</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item">
        Сургут
      </a>
      <a class="item">
        Тюмень
      </a>
      <a class="item">
        Баку
      </a>
      <a class="item">
        Таганрог
      </a>
      <div class="item">
        <button class="button button-block">
          <i class="icon ion-pinpoint" />
          Текущий город</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
