<!DOCTYPE html>
<html>
  <head>
    <title>Vector Online</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="src/styles/ionic.css" rel="stylesheet">
    <link href="src/styles/main.css" rel="stylesheet">
  </head>
  <body id="root" class="grade-a platform-browser platform-macintel platform-ready menu-open">
    <script src="build/external-libs-bundle.js"></script>
    <script src="build/app.js"></script>

    <div class="view-container"><div class="pane view" nav-view="active" style="-webkit-transition: 0ms; transition: 0ms; opacity: 1; -webkit-transform: translate3d(0%, 0px, 0px);">
      <div class="menu-content pane menu-animated" style="-webkit-transform: translate3d(275px, 0px, 0px);">
        <div class="bar-stable">
          <div class="bar-stable bar bar-header item-input-inset">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
              <label class="item-input-wrapper">
                <input type="search" placeholder="Search">
                <i class="icon ion-ios7-search placeholder-icon"></i>
              </label>
          </div>
        </div>
        <div name="menuContent" class="view-container" nav-view-transition="ios" nav-view-direction="none"><div class="pane" style="-webkit-transition: 0ms; transition: 0ms; opacity: 0; -webkit-transform: translate3d(0%, 0px, 0px);">
      <div class="scroll-content ionic-scroll"><div class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list">
          <div class="item">
            <h3>Вектор, электронный справочник</h3>
          </div>

          <div class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            44-22-44
            <span class="item-desc">телефон</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-world-outline"></i>
            Реквизиты организации
            <span class="item-desc">сайт</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-email-outline"></i>
            vmp.ru
            <span class="item-desc">сайт</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-email-outline"></i>
            info@vmp.ru
            <span class="item-desc">e-mail</span>
          </div>
          <div class="item item-text">
            Справочники, разработка программного обеспечения
          </div>


          <div class="item item-icon-left item-divider">
            <i class="icon ion-ios7-home"></i>
            30 лет победы, 19 - оф. 302a
            <span class="item-desc">адрес</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            44-20-22
            <span class="item-desc">телефон</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            44-20-22
            <span class="item-desc">телефон</span>
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            44-20-22
            <span class="item-desc">телефон</span>
          </div>
        </div>
      </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="-webkit-transform: translate3d(0px, 0px, 0px) scaleY(1); height: 225px;"></div></div></div>
    </div>nav-view="acttransition: 0ms; transition: 0ms; opacity: 1; -webkit-transform: translate3d(0%, 0px, 0px);"><div class="tabs tabs-text-only has-header">
      <div class="tab-item active">Рубрики</div>
      <a class="tab-item">Организации</a>
      <a class="tab-item has-badge">
        Адреса
        <span class="badge">1</span>
      </a>
    </div>
    <div class="pane">
      <div class="has-header scroll-content ionic-scroll"><div class="scroll">
        <div class="list">
          <a class="item">
            Ленина проспект 45
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Вектор, ООО
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Рога и Копыта, ООО
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Одиннадцатиклассница Одиннадцатиклассница Одиннадцатиклассница
            <span class="item-desc">Адрес</span>
          </a>
        </div>
      </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out"></div></div></div>
    </div>


    </div></div>
      </div>

      <div side="left" is-enabled="true" width="275" class="menu menu-left" style="width: 275px; z-index: 0;">
        <div class="bar-stable bar bar-header disable-user-behavior">
          <h1 class="title">Вектор</h1>
        </div>

        <div class="scroll-content ionic-scroll  has-header"><div class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
          <div class="disable-user-behavior"><div class="list">
            <div nav-clear="" menu-close="" ng-click="login()" class="item">
              Сургут
              <span class="item-note">Сменить город</span>
            </div>
            <div nav-clear="" menu-close="" href="#/search/main" class="item item-complex"><a class="item-content" ng-href="#/search/main" target="_self" href="#/search/main">
              <span class="badge badge-assertive">RU</span>
              Язык
            </a></div>

            <a class="item item-icon-left" nav-clear="" menu-close="" href="#/app/browse">
              <i class="icon ion-ios7-star"></i>
              Избранное
            </a>

            <div nav-clear="" menu-close="" href="#/search/main" class="item item-complex"><a class="item-content" ng-href="#/search/main" target="_self" href="#/search/main">
              Подсказки
            </a></div>

            <a class="item item-icon-left" nav-clear="" menu-close="" href="#/app/browse">
              Результаты поиска
            </a>

            <a class="item item-icon-left" nav-clear="" menu-close="" href="#/app/card">
              Карточка
            </a>


          </div></div>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="-webkit-transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></div>
      </div>
    </div><div class="pane view" nav-view="cached" style="-webkit-transition: 0ms; transition: 0ms; opacity: 0; -webkit-transform: translate3d(0%, 0px, 0px);">
      <div class="menu-content pane menu-animated" style="-webkit-transform: translate3d(275px, 0px, 0px);">
        <div class="bar-stable">
          <div class="bar-stable bar bar-header item-input-inset">
            <button class="button button-icon button-clear ion-ios7-arrow-back" menu-toggle="left">
            </button>
              <label class="item-input-wrapper">
                <input type="search" placeholder="Search">
                <i class="icon ion-ios7-search placeholder-icon"></i>
              </label>
          </div>
        </div>
        <div class="view-container" ><div view-title="Search" class="pane" nav-view="active" style="-webkit-transition: 0ms; transition: 0ms; opacity: 1; -webkit-transform: translate3d(0%, 0px, 0px);">
      <div class="scroll-content ionic-scroll"><div class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list">
          <a class="item">
            Ленина проспект 45
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Вектор, ООО
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Рога и Копыта, ООО
            <span class="item-desc">Адрес</span>
          </a>
          <a class="item">
            Одиннадцатиклассница Одиннадцатиклассница Одиннадцатиклассница
            <span class="item-desc">Адрес</span>
          </a>
        </div>
      </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="-webkit-transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></div>
    </div></div>
      <div class="menu menu-left" style="width: 275px; z-index: 0;">
        <div class="bar-stable bar bar-header disable-user-behavior">
          <h1 class="title">Вектор</h1>
        </div>
        <div class="scroll-content ionic-scroll  has-header"><div class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
          <div class="disable-user-behavior"><div class="list">
            <div nav-clear="" menu-close="" ng-click="login()" class="item">
              Сургут
              <span class="item-note">Сменить город</span>
            </div>
            <div nav-clear="" menu-close="" href="#/search/main" class="item item-complex"><a class="item-content" ng-href="#/search/main" target="_self" href="#/search/main">
              <span class="badge badge-assertive">RU</span>
              Язык
            </a></div>

            <a class="item item-icon-left" nav-clear="" menu-close="" href="#/app/browse">
              <i class="icon ion-ios7-star"></i>
              Избранное
            </a>

          </div></div>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="-webkit-transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></div>
      </div>
    </div></div>
  </body>
</html>
