.leaflet-touch .leaflet-control-locate, .leaflet-control-locate {
  box-shadow: none;
  background-clip: padding-box;

  .leaflet-bar-part.leaflet-bar-part-single {
    width: 40px;
    height: 40px;
    font-size: 42px;

    span {
      @extend .vmp-gps-icon;
      @extend .vmp-gps-icon.off;
    }
  }

  &.requesting {
    .leaflet-bar-part.leaflet-bar-part-single span {
      background: none;
      font-size: 32pt;
      margin-left: -1px;
      margin-top: -1px;
      color: rgb(76, 76, 76);
    }
  }

  &.active {
    .leaflet-bar-part.leaflet-bar-part-single span {
      // background: $locate-control-active;
      // background: $locate-control-active;
      @extend .vmp-gps-icon.not-fixed;
    }

    &.following .leaflet-bar-part.leaflet-bar-part-single span {
      @extend .vmp-gps-icon.fixed;
    }
  }
}

.vmp-gps-icon {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: 34px 34px;
  display: inline-block;

  margin-left: 3px;
  margin-top: 3px;

  &.off {
    background-image: url(./images/gps-off.svg);
  }

  &.fixed {
    background-image: url(./images/gps-fixed.svg);
  }

  &.not-fixed {
    background-image: url(./images/gps-not-fixed-new.svg);
  }
}

.vmp-gps-location-point-icon {
  width: 32px;
  height: 32px;
  background: url('./images/gps-location-point.svg') no-repeat;
  background-size: 32px 32px;
}
