$map-popup-height: 200px;
$map-popup-height-small: 120px;

.vmp-map-popup-modal {
  min-height: 0;
  height: $map-popup-height;
  top: calc(100% - #{$map-popup-height} - #{$tabs-height});
  z-index: 4; // hide modal behind bottom tabs

  &.popup-small {
    height: $map-popup-height-small;
    top: calc(100% - #{$map-popup-height-small} - #{$tabs-height});
  }
}

.vmp-map-popup-description {
  color: #818085;
}

.vmp-map-popup-content {
  padding-top: 5px;
  padding-left: 5px;
}

.vmp-map-popup-row {
  margin-top: 3px;
  padding-left: 5px;
}

.vmp-address-popup-semantic-name {
  padding-bottom: 3px;
  font-size: 14pt;
}

.vmp-map-popup-icon {
  padding-left: 5px;
  padding-right: 5px;
  color: $positive;
}

.vmp-map-popup-button {
  padding-top: 7px;
}

.vmp-map-popup-title-icon {
  padding-right: 5px;
}
