$modal-height: 150px;

.vmp-icon {
  text-align: center;
}
.ion-loading-b {
  animation: spin 2s infinite linear;
}
.badge.header {
  background-color: #444;
  color: #f8f8f8;
  position: static;
  margin-left: 3px;
  font-size: 8pt;
  height: 17px;
  line-height: 13px;
}

.vmp-modal {
  min-height: 0;
  height: 150px;
  top: calc(100% - #{$modal-height} - 49px /* TODO: $tabs-height */);
  z-index: 4; // hide modal behind bottom tabs
}

.vmp-modal-enter {
  @include translate3d(0, 100%, 0);
  @include transition(all cubic-bezier(.1, .7, .1, 1) 400ms);
}

.vmp-modal-enter.vmp-modal-enter-active {
  @include translate3d(0, 0, 0);
}

.vmp-modal-leave {
  @include translate3d(0, 100%, 0);
  @include transition(all ease-in-out 250ms);
}

.vmp-modal-leave.vmp-modal-leave-active {

}
