.vmp-icon {
  text-align: center;
}

.vmp-anim-spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(359deg); }
}

.badge.header {
  background-color: #444;
  color: #f8f8f8;
  position: static;
  margin-left: 3px;
  font-size: 8pt;
  height: 17px;
  line-height: 13px;
}

.vmp-tabs {
  .tab-item {
    color: $positive;

    &.active {
      color: $button-positive-active-bg;
    }
  }
}

