.tabs.has-header {
  top: 0;
  bottom: auto;
}

.tabs-text-only {
  .badge {
    position: static;
    margin-left: 3px;
    font-size: 8pt;
    /* width: 17px; */
    height: 17px;
    line-height: 15px;
  }
}

.item.item-text {
  overflow: auto;
  text-overflow: auto;
  white-space: normal;
}
