@import "./vtab";

.item-desc {
  float: none;
  display: block;
  color: #aaa;
  font-size: 14px;
}

.vmp-menu-open {
  transform: translate3d(275px, 0, 0);
}

.leaflet-container {
  cursor: auto;
  background: url('/images/vmp_map_back.png');
}

.has-map .vmp-search-bar {
  z-index: 100;
  top: 0;
  right: 0;
  position: absolute;
  left: 0;
}

.SearchSuggestions {
  height: 100%;
  overflow-y: auto;
}
