/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$ionicons-font-path: "./fonts" !default;

@import './ionic/ionic';
@import './vtab';
@import './vmp-modal';
@import './ui-elements';
@import './map-popups';

a {
  cursor: pointer;
}

.item-desc {
  float: none;
  display: block;
  color: #aaa;
  font-size: 14px;
}

.vmp-menu-open {
  transform: translate3d(275px, 0, 0);
}

.leaflet-container {
  cursor: auto;
  background: url('/images/vmp_map_back.png');
}

.vmp-search-bar {
  border-bottom: none;
  border-color: none;
}

.SearchSuggestions {
  height: 100%;
  overflow-y: auto;
}

.vmp-list {
  overflow-y: scroll;
  height: calc(100% - 44px - #{$tabs-height});
}

.vmp-list-item {
  white-space: pre-line;
  transition: all 300ms ease-out; // Doesn't fade out in mobile mode after :hover
  background-color: #fff;

  &.vmp-item-divider {
    @extend .item-divider;
  }
}

.vmp-list-item:active {
  transition: background-color 70ms ease-in;
  background-color: rgba(79, 173, 255, 0.43);
}

.vmp-list-item-activated, .item-content.vmp-list-item-activated {
  background-color: $energized;
}

.vmp-search-tabs {
  margin-top: -1px;
}

.vmp-center {
  width: 100%;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.vmp-table {
  display: table;
}

.vmp-cell {
  display: table-cell;
  padding-right: 3px;
}

.button.button-positive.button-outline:active {
  background-color: $button-positive-bg;
  box-shadow: none;
  color: #fff;
}

.vmp-title {
  font-weight: bold;
  font-size: 12pt;
}

.vmp-bar-title {
  @extend .vmp-title;
  padding-left: 7px;
}

.icon:active, .vmp-active-text:active {
  color: $positive;
}

.vmp-scroll {
  overflow-y: scroll;
}

.vmp-uppercase-title {
  text-transform: uppercase;
}
