/* Empty. Add your own CSS if you like */

/*.item-desc {
    float: right;
    color: #aaa;
    font-size: 14px;
}*/

/*
@media (max-width: 660px) {
    .item-desc {
        float: none;
        display: block;
        color: #aaa;
        font-size: 14px;
    }
}*/
.item-desc {
    float: none;
    display: block;
    color: #aaa;
    font-size: 14px;
}